/* regole generali  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #083b4c;
}

h1 {
    text-align: center;
    color: white;
}


#contenitore {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
}

#contenitore > .square {
    background-color: #1389b2;
    width: calc(100% / 7 - 20px);
    height: 100px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#contenitore > .fizz {
    background-color: #0cd6a1;
}

#contenitore > .fizzbuzz {
    background-color: #0cd6a1;
}

#contenitore > .buzz {
    background-color: #f0466f;
}
